$primaryColor: DarkGreen;
$fontColor: white;
$j:0;
$k:-1;
$s:"c";
$c:"null";

body {
    background: $primaryColor;  
}

p {
    color: $fontColor;
    
}

#cardsP, #cardsAI {
    display: flex;
}

@for $sc from 1 through 4{

@for $i from 1 through 13 {
        @if $sc == 1 {
            $s: c;
        }
        @else if $sc == 2{
            $s: d;   
        }
        @else if $sc == 3{
            $s: h;   
        }
        @else if $sc == 4{
            $s: s;   
        }
    $c: $s + $i;
    .#{$c} {
        
    $k: $k + 1; //clubs,spades,hearts,diamonds
    background-image:url(media/cards.png);
    width:72px;
    height:97px;
    background-position:$k*-73px $j*97px;
    @if $i == 13 or $i == 26 or $i == 39 {
        $j: $j+1;
        $k: -1;
    }

  }
}
    }

