body {
  background: DarkGreen; }

p {
  color: white; }

#cardsP, #cardsAI {
  display: flex; }

.c1 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: 0px 0px; }

.c2 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -73px 0px; }

.c3 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -146px 0px; }

.c4 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -219px 0px; }

.c5 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -292px 0px; }

.c6 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -365px 0px; }

.c7 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -438px 0px; }

.c8 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -511px 0px; }

.c9 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -584px 0px; }

.c10 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -657px 0px; }

.c11 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -730px 0px; }

.c12 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -803px 0px; }

.c13 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -876px 0px; }

.d1 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: 0px 97px; }

.d2 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -73px 97px; }

.d3 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -146px 97px; }

.d4 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -219px 97px; }

.d5 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -292px 97px; }

.d6 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -365px 97px; }

.d7 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -438px 97px; }

.d8 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -511px 97px; }

.d9 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -584px 97px; }

.d10 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -657px 97px; }

.d11 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -730px 97px; }

.d12 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -803px 97px; }

.d13 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -876px 97px; }

.h1 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: 0px 194px; }

.h2 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -73px 194px; }

.h3 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -146px 194px; }

.h4 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -219px 194px; }

.h5 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -292px 194px; }

.h6 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -365px 194px; }

.h7 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -438px 194px; }

.h8 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -511px 194px; }

.h9 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -584px 194px; }

.h10 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -657px 194px; }

.h11 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -730px 194px; }

.h12 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -803px 194px; }

.h13 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -876px 194px; }

.s1 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: 0px 291px; }

.s2 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -73px 291px; }

.s3 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -146px 291px; }

.s4 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -219px 291px; }

.s5 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -292px 291px; }

.s6 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -365px 291px; }

.s7 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -438px 291px; }

.s8 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -511px 291px; }

.s9 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -584px 291px; }

.s10 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -657px 291px; }

.s11 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -730px 291px; }

.s12 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -803px 291px; }

.s13 {
  background-image: url(media/cards.png);
  width: 72px;
  height: 97px;
  background-position: -876px 291px; }

/*# sourceMappingURL=style.css.map */
